@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900,900i');


h2 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
        margin-bottom: 50px;
}

/*===========================================NAVBAR=======================================================*/
@media screen and (min-width: 800px){
    .navbar {
        display: none;
    }
    .nav {
        z-index: 10;
    }

    .js-scrollTo {
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        font-size: 15px;
        line-height: 50px;
        padding: 0 15px 0 15px;
    }

    .first_link {
        font-size: 18px;
    }
    .nav_link {
        display: inline-block;
        list-style: none;
        float: right;
        margin: 0;
    }

    .nav_link li {
        display: inline-block;
    }

    .midnightHeader.default {
        background: white;
    }
    .midnightHeader.default a {
        color: darkslateblue;
    }
    .midnightHeader.grey {
        background: rgba(76,76,76,1);
        background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 46%, rgba(43,43,43,1) 74%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 46%, rgba(43,43,43,1) 74%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 46%, rgba(43,43,43,1) 74%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 46%, rgba(43,43,43,1) 74%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 46%, rgba(43,43,43,1) 74%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    }
    .midnightHeader.grey a {
        color: white;
    }
    .midnightHeader.black {
        background: black;
    }
    .midnightHeader.black a {
        color: wheat;
    }

    .midnightHeader.white {
        background: white;
    }

    .midnightHeader.white a {
        color: darkslateblue;
    }

}
@media screen and (max-width: 800px){
    #mon-element-fixed {
        display: none;
    }

    .back_to_top {
        font-size: 3em;
        color: #333333;
        margin-right: 10px;
        z-index: 50;
        position: fixed;
        bottom:0;
        right: 0;
    }
}
    .back_to_top:active {
        color: #333333;
    }
    .back_to_top:link {
        color: #333333;
    }
    .back_to_top:focus {
        color: #333333;
    }
    .back_to_top:visited {
        color: #333333;
    }


/*============================MOBILE==============================*/


#check_nav:checked .back_to_top {
    display: none;
}

.js-scrollTo {
    color: wheat;
}

.navbar {
    margin-top: -10px;
    position: fixed;
    z-index: 10;
    border: 0;
}

#check_nav {
    display: none;
}

.grip_nav {
    padding: 0;
    z-index: 120;
    height:30px;
    width: 30px;
    position: absolute;
    left:20px;
    top: 20px;
}

.line_grip {
    margin: 30px 0 0 0px;
    height: 40px;
    width: 2px;
    background-color: wheat;
}

.grip_2 {
    margin-left: 8px;
    margin-top: -40px;
}

.grip_3 {
    margin-left: 16px;
    margin-top: -40px;
}
#trans_nav {
    top:0;
    position: fixed;
}

#check_nav:not(:checked) + #trans_nav{
    transform-origin: 0 0;
    transform: rotate(-45deg);
    left: calc(100vw - 100px);
    transition-duration: 1s;
    transition-delay: .5s;
}

#check_nav:checked + #trans_nav{
    transform-origin: 0 0;
    transform: rotate(0deg);
    left: 0;
    transition-duration: 1s;
}
#check_nav:checked + #trans_nav .grip_nav {
    position: fixed;

}


#check_nav:checked + #trans_nav .grip_nav {
    animation: translate 1.5s ease 1 forwards;

}

#check_nav:not(checked) + #trans_nav .grip_nav {
    animation: translate-reverse 1.5s ease 1 forwards;

}
#check_nav:checked + #trans_nav .grip_1{
    transform: rotate(-45deg);
    transition-duration: .5s;
    transition-delay: 1s;
    width: 5px;

}
#check_nav:checked + #trans_nav .grip_2{
    position: absolute;
    margin:-40px 0 0 0;
    transform: rotate(45deg);
    transition-duration: .5s;
    transition-delay: 1s;
    width: 5px;
}
#check_nav:checked + #trans_nav .grip_3{
    position: absolute;
    margin:-40px 0 0 0;
    transform: rotate(45deg);
    transition-duration: .5s;
    transition-delay: 1s;
    width: 5px;

}

#check_nav:not(checked) + #trans_nav .grip_1{
    transform: rotate(0deg);
    transition-duration: .5s;
}
#check_nav:not(checked) + #trans_nav .grip_2{
    transform: rotate(0deg);
    transition-duration: .5s;
}
#check_nav:not(checked) + #trans_nav .grip_3{
    transform: rotate(0deg);
    transition-duration: .5s;

}


@keyframes translate {
    0%{transform: translateY(10px)}

    66%{transform: translateY(-30px)}

    100%{transform: translate(calc(100vw - 70px), -30px)}
}

@keyframes translate-reverse {
    0%{transform: translate(calc(100vw - 70px), -30px)}

    33%{transform: translate(0px, -30px)}

    100%{}
}






#navbar_mobile {
    position: fixed;
    z-index: 100;
    list-style: none;
    height: 120vh;
    background-color: rgba(0,0,0,0.65);
    width: 100vw;
    margin: 0;padding: 0;border: 0;
    top: 0;
    text-align: center;
}

#navbar_mobile li:first-child{
    margin-top: 30vh;
}

#navbar_mobile li{
    line-height: 50px;
}

#navbar_mobile a {
    padding: 25px 0 25px 0;
    font-size: 7vmin;
    width: 1.3em;
    color: wheat;
}
























/*================================SLIDES=======================================================*/

.slide {
    min-height: 105vh;
    display: flex;
    background-size: contain;
    width: 100%;
    padding: 50px;
}


.slide_inside {
    display: block;
    margin: auto;
    text-align: center;
    width: 80vw;
    padding: 0;
    padding-bottom: 50px;
}

.inter_slide {
    background-color: black;
    height: 5px;
    text-align: center;
}

.container {
    margin:0;
    padding: 0;
}

#slide1 {position: relative; z-index: 5}
#slide2 {position: relative; z-index: 3}
#slide3 {position: relative; z-index: 2}
#slide4 {position: relative; z-index: 4}
#slide5 {position: relative; z-index: 1}
.inter_slide {position: relative; z-index: 5}


/*===========================================SLIDE HEAD=======================================================*/


#slide1 {
    background-color: white;
}



.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: transparent;
    font-size: 12vmin;
    background: url("../images/back-s1.jpg  ") repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    letter-spacing: -5px;
    border: 3px solid transparent;
    margin-top: -10vh;
}

.subtitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}


/*===========================================SLIDE ME=======================================================*/
#slide2 {
    background: url(../images/back-s6.jpg);
}

#slide2 img {
    width: 20vw;
    min-width: 200px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    transform: perspective(1000px) rotateY(15deg);
}

.texte {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding-bottom: 0;
}

.txt h2 {
    margin-top: 20px;
}

@media screen and (min-width: 950px){
    #slide2 img {float: left}
    .txt {
        width: 50vw;
        padding: 0 50px 0 50px;
        float: right;
        margin-right: 5vw;
        transform: translateY(-50%);
        margin-top: 15%;
    }
}
@media screen and (max-width: 950px){
    #slide2 img {
        margin-top: 50px;
    }
    .txt {padding: 25px 25px 0 25px;
            margin-bottom: 50px}
}

/*===========================================SLIDE SKILLS=======================================================*/
#slide3 {
    background-color: #292929;
}

#slide3 h2 {
    color: white;
}

.flex_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.flip {
    -ms-perspective: 800;
    -o-perspective: 800;
    width: 34vmin;
    height: 34vmin;
    max-width: 150px;
    max-height: 150px;
}
.flip .card.flipped {
    transform:rotatey(-180deg);
    -ms-transform:rotatey(-180deg); /* IE 9 */
    -moz-transform:rotatey(-180deg); /* Firefox */
    -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
    -o-transform:rotatey(-180deg); /* Opera */
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    backface-visibility: hidden;  /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */

}
.flip .card .front {
    padding: 15px;
    border: 1px solid #333333;
    background-color: black;
    position: absolute;
    z-index: 1;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    border: 1px solid #333333;
    color: black;
    cursor: pointer;
    background-color: antiquewhite;
    transform:rotatey(-180deg);
    -ms-transform:rotatey(-180deg); /* IE 9 */
    -moz-transform:rotatey(-180deg); /* Firefox */
    -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
    -o-transform:rotatey(-180deg); /* Opera */

}

.flip .card .back i{
    font-size: 75px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    margin: 50%;
}















/*===========================================SLIDE PORTFOLIO=======================================================*/
#slide4 {
    background: url(../images/back-s7.jpg);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

#slide4 h2 {
    color: white;
}

.tuile {
    margin: 5px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: white;
}

.projets {
    margin-top: 50px;
    margin-bottom: 50px;
}

#slide4 h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 30px;
}

[class*=' imghvr-reveal-']:before, [class^=imghvr-reveal-]:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: inherit;
}

[class*=' imghvr-reveal-'] figcaption, [class^=imghvr-reveal-] figcaption {
    opacity: 0;
}

[class*=' imghvr-reveal-']:hover:before, [class^=imghvr-reveal-]:hover:before {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

[class*=' imghvr-reveal-']:hover figcaption,
[class^=imghvr-reveal-]:hover figcaption {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
}

.imghvr-reveal-up:before {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

[class*=' imghvr-'], [class^=imghvr-] {
    font-family: Montserrat, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #666;
    background-color: rgba(230, 230, 230, 0.7);
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

[class*=' imghvr-'] img, [class^=imghvr-] img {
    max-width: 100%;
    vertical-align: top;
}

[class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
}

[class*=' imghvr-'] h4, [class*=' imghvr-'] p, [class^=imghvr-] h4,
[class^=imghvr-] p {
    margin: 0;
    padding: 0;
}

[class*=' imghvr-'] h4, [class^=imghvr-] h4 {
    font-weight: 700;
    margin-bottom: 2px;
    color: #333;
}

[class*=' imghvr-'] p, [class^=imghvr-] p {
    font-family: Lora, sans-serif;
    font-size: .9em;
}

[class*=' imghvr-'] a, [class^=imghvr-] a {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[class*=' imghvr-'], [class*=' imghvr-'] *, [class*=' imghvr-'] :after,
[class*=' imghvr-'] :before, [class*=' imghvr-']:after,
[class*=' imghvr-']:before, [class^=imghvr-], [class^=imghvr-] *,
[class^=imghvr-] :after, [class^=imghvr-] :before, [class^=imghvr-]:after,
[class^=imghvr-]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}[class*=' imghvr-'], [class^=imghvr-] {
     font-family: Montserrat, sans-serif;
     position: relative;
     display: inline-block;
     overflow: hidden;
     max-width: 100%;
     margin: 10px;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     color: white;
     background-color: rgba(10, 10, 10, 0.7);
     -moz-osx-font-smoothing: grayscale;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
 }

[class*=' imghvr-'] img, [class^=imghvr-] img {
    max-width: 35vw;
    vertical-align: top;
}


@media screen and (max-width: 850px) {
    [class*=' imghvr-'] img, [class^=imghvr-] img {
        max-width: 80vw;
    }
    .imghvr-reveal-up {
        transform: translateX(-5vw);
    }
}

[class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
}

[class*=' imghvr-'] h4, [class*=' imghvr-'] p, [class^=imghvr-] h4,
[class^=imghvr-] p {
    margin: 0;
    padding: 0;
}

[class*=' imghvr-'] h4, [class^=imghvr-] h4 {
    font-weight: 700;
    margin-bottom: 2px;
    color: white;
}

[class*=' imghvr-'] p, [class^=imghvr-] p {
    font-family: Lora, sans-serif;
    font-size: .9em;
}

[class*=' imghvr-'] a, [class^=imghvr-] a {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[class*=' imghvr-'], [class*=' imghvr-'] *, [class*=' imghvr-'] :after,
[class*=' imghvr-'] :before, [class*=' imghvr-']:after,
[class*=' imghvr-']:before, [class^=imghvr-], [class^=imghvr-] *,
[class^=imghvr-] :after, [class^=imghvr-] :before, [class^=imghvr-]:after,
[class^=imghvr-]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}




/*===========================================SLIDE CONTACT=======================================================*/
#slide5 {
    background: url(../images/back-s8.jpg);
    color: white;
    padding-top: 50px;
    min-height: 100vh;
}

#slide5 .slide_inside {
    margin-bottom: 0;
    padding-bottom: 0;
}

#slide5 .container .row div{
    padding: 0;
}

@media screen and (max-width: 800px) {
}

.footer {
    background-color: rgba(10,10,10,0.7) ;
    min-height: 60vh;
    width: 80vw;
    border-radius:15px 15px 0 0;

}

.form-control {
    width: 80%;
    margin: 0 10% 0 10%;
}

label:first-child {
    margin-top: 20px;
}

label {
    color: wheat;
    font-family: 'Lato', sans-serif;
}

textarea.form-control {
    height: 100px;
}

.submit {
    margin-top: 20px;
    margin-bottom: 50px;
}

.réseaux{
    z-index: 15;
    display: flex;
    width: 100%;
    column-count: 2;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 30px;
}
.réseaux a {
    color: wheat;
    font-size: 6em;
    justify-content: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.réseaux a:hover {
    color: goldenrod;
    transform: rotate(10deg);
    transition-duration: 0.5s;
}


@media  screen and (max-width: 992px){
    .grid {
        margin-right: 170px;
    }
}

@media  screen and (max-width: 450px) {
    .réseaux a {
        font-size: 4.5em;
    }
}

.cv {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(236, 151, 31);
    border-radius: 15px;
    padding: 7px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 5vmin;
}

.btn_cv {
    margin-bottom: 50px;
}

.contact-notice {
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    background-color: rgba(10,10,10,0.7) ;
    border-radius: 15px;

}